/* Tablets */


@media only screen and (min-width: 768px) and (max-width: 991px){
   
    .ProductTypes ul li{
        margin: 10px 30px;
        background-color: #FCBF02;
        min-width: 40%;
        height: 300px;
        text-align: center;
    }
    
    .OpetoClinica .OpetoClinicabg form label input, .OpetoClinica .OpetoClinicabg form label select{
        margin: 0 auto;
        width: 100%;
        display: block;
    }
    
    .OpetoClinica .OpetoClinicabg form label h5{
        color: #FCBF02;
        font-size: 18px;
        font-weight: bold;
        margin-left: 20px;
        margin-top: 10px;
    }
}



/* Mobile */


@media only screen and (max-width: 795px){
    
    

}


/* Ambos */


/* Apenas TouchDevices */

@media only screen and (max-width: 991px){



    /* Navbar */
    .DesktopNav button i{
        color: #fff;
        font-size: 25px;
    }

    .DesktopNav ul #Desktopitem{
        content-visibility: hidden;
    }

    .MobileNav ul{
        width: 70%;
        padding: 20px;
        background: #FCBF02;
        border-radius: 20px;
        margin: 0 auto;
    }

    .header nav ul li a {
        color: #fff;
        font-weight: bold;
    }
    
    .header nav ul li a:hover {
        color: #7400FF;
        font-weight: bold;
        text-decoration: none;
    }
    
    
    .header nav ul li a button{
        background: #FCBF02;
        color: #fff;
        font-weight: bold;
        border-radius: 50px;
    }
    
    .header nav ul li a button:hover{
        background: #fff;
        color: #7400FF;
    }
    #Ativo{
        color: #7400FF;
    }


    /* Banner Inicial */
    .bannerInicial article h1{
        margin: 0 auto;
        text-align: center;

    }
    
    .bannerInicial article p {
        margin-top: 20px;
        margin: 20px auto 20px;
        text-align: center;
        width: 70%;

    }

    .bannerInicial article img{
        display: block;
        margin: 0 auto 40px;
        height: 100%;
        width: 100%;
    }


    .bannerInicial .imagemBanner, .bannerInicial .textosBanner{
        content-visibility: hidden;
    }
    
    /* Tipos de produtos */
    .ProductTypes{
        margin-top: 200px;
    }
    

   

   
}


/* Apenas Desktops */

@media only screen and (min-width: 991px){

    
    /* Banner Inicial */
    .bannerInicial .dispositivosPequenos{
        content-visibility: hidden;
    }

    .MobileNav, .navbar-toggler{
        content-visibility: hidden;
    }
}


/* Monitor Pequeno */
@media only screen and (min-width: 992px) and (max-width: 1220px){
    
    /* Banner Inicial */
    .bannerInicial img{
        margin-left: 100px;
        height: 260px;
    }
    

}

