*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    

}



/* Cabeçalho */

.header{
    background: #7400FF;
    color: #FCBF02;
    position: static;
    width: 100%;
    padding: 15px 0;
    
}


.header a img{
    height: 122px;
}



.header nav ul{
    margin-top: 40px;
    text-align: end;
}


.header nav ul li{
    
    display: inline-block;
    margin-right: 20px;
}

.header nav ul li a {
    color: #fff;
}

.header nav ul li a:hover {
    color: #FCBF02;
    font-weight: bold;
    text-decoration: none;
}


.header nav ul li a button{
    background: #FCBF02;
    color: #fff;
    font-weight: bold;
    border-radius: 50px;
}

.header nav ul li a button:hover{
    background: #fff;
    color: #7400FF;
}


#Ativo{
    color: #FCBF02;
}

/* Banner */

.bannerInicial{
    background: #7400FF;
    color: #FCBF02;
    height: 360px;
}

.bannerInicial  h1{
    width: 380px;
    font-size: 40px;
    font-weight: bold;
}

.bannerInicial p {
    margin-top: 20px;
    width: 380px;
    color: #fff;
    font-size: 18px;
}

.bannerInicial img{
    margin-top: 40px;
    margin-left: 100px;
    height: 350px;
}

/* Tipos de Produtos */
.ProductTypes{
    margin-top: 90px;
}

h4{
    font-weight: normal;
    font-size: 25px;
    text-align: center;
}

h4::after{
    content: "";
    width: 90px;
    height: 5px;
    background: #7400FF;
    margin: 10px auto 0;
    display: block;
    border-radius: 30px;
}


.ProductTypes{
    text-align: center;
}

.ProductTypes ul{
   list-style: none;
  
}

.ProductTypes ul li{
    margin: 10px;
    background-color: #FCBF02;
    min-width: 30%;
    height: 300px;
    text-align: center;
}


.ProductTypes ul li img{
    margin: 40px auto 0;
    height: 192px;
}


.ProductTypes ul li p{
    margin-top: 20px;
    color: #7400FF;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
}

.ProductTypes p{
    margin-top: 10px;
    text-align: center;
    color: #484B4D;
    font-size: 18px;
}

.ProductTypes a button{
    background: #7400FF;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 197.51px;
    height: 50.58px;
    color: #fff;
    font-weight: bold;
}

.ProductTypes a button:hover{
    background: #FCBF02;
    color: #7400FF;
}


/* Clinica */

.OpetoClinica{
    margin-top: 90px;
}

.OpetoClinica h4::after{
    background: #FCBF02;
    margin-bottom: 20px;
}

.OpetoClinica .Clinica{
    background: url(../Img/veterinario.png) no-repeat center;
    height: 362.29px;
    width: 100%;
    background-size: cover;
    z-index: 6;
}

.OpetoClinicabg{
    background: #7400FF;
}

.OpetoClinica .OpetoClinicabg h2{
    margin-top: 70px;
    color: #fff;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
}

.OpetoClinica .OpetoClinicabg form{
    margin: 90px auto 0;
    
}

.OpetoClinica .OpetoClinicabg form label input, .OpetoClinica .OpetoClinicabg form label select{
    margin: 0 auto;

    width: 370px;
    height: 68px;
    border-radius: 50px;
    border: none;
    color: #7400FF;
    outline: none;
    padding-left: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: block;
}

.OpetoClinica .OpetoClinicabg form label{
    display: block;
}

.OpetoClinica .OpetoClinicabg form label h5{
    color: #FCBF02;
    font-size: 18px;
    font-weight: bold;
    margin-left: 90px;
    margin-top: 10px;
}


.OpetoClinica .OpetoClinicabg form div {
    text-align: center;
}

.OpetoClinica .OpetoClinicabg form div input{
    margin: 45px 0;
    text-align: center;   
    background: #FCBF02;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 197.51px;
    height: 50.58px;
    color: #7400FF;
    font-weight: bold;
}

.OpetoClinica .OpetoClinicabg form div input:hover{
    background: #280F48;
    color: #FCBF02;
}


/* Rodape */

footer{
    background: #280F48;
    color: #fff;
    padding: 40px;
   
}

footer div{
    padding: 30px auto;
    align-content: center;
}

footer div h4{
    text-align: start;
    font-weight: bold;
    font-size: 32px;
}

footer h4::after{
    content: "";
    width: 90px;
    height: 5px;
    background: #FCBF02;
    margin: 10px 0 0;
    display: block;
    border-radius: 30px;
}

footer div ul{
    font-size: 18px;
    margin-left: -20px;
}

footer div img{
    width: 200px;
    margin-top: -20px;
}

footer div ul li img{
    width: 50px;
}

footer #redes ul{
    margin-left: -50px;
}

footer #redes ul li{
    list-style: none;
    display: inline;
    margin: 10px;
}

footer #redes ul li img{
    margin-top: 10px;
    
}

.DireitosReservados{
    padding: 1px;
    background: #FCBF02;
    color: #280F48;
    text-align: center;
}

.DireitosReservados p{
    margin-top: 10px;
}




/* Login BG */

.LoginBG{
    background: #280F48;
}

.LoginBox{
    text-align: center;
    margin: 150px auto 0;
    background: #7400FF;
    height: 550px;
    width: 400px;
    padding: 30px;
    border-radius: 40px;
}

.LoginBox label{
    margin-top: 20px;
    margin-left: 40px;
    text-align: start;
    color: #FCBF02;
    font-weight: bold;
    display: block;
    text-transform: uppercase;
}

.LoginBox input{
    padding-left: 30px;
    outline: none;
    border: 0;
    justify-content: center;
    height: 50px;
    width: 80%;
    border-radius: 30px;
}

.LoginBox img{
    height: 150px;
    margin-bottom: -20px;
}

.LoginBox button{
    background: #FCBF02;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 30px;
    height: 50px;
    width: 200px;
}

.LoginBox button:hover{
    background: #fff;
    color: #7400FF;
}
